<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/mui/css/mui.css">
  <link rel="stylesheet" href="../assets/fa/css/font-awesome.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/category.css">
</head>
<body>
  <div class="lt_layout">
    <div class="lt_header">
      <div class="lt_hcenter">
        <h3>乐淘云购</h3>
      </div>
      <a href="javascript:;" class="lt_hright fa fa-search"></a>
    </div>
    <div class="lt_main">
      <div class="lt_parent">
        <div class="lt_left">
          <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <ul class="firstCategoryNav">
                
              </ul>
            </div>
          </div>
        </div>
        <div class="lt_right">
          <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <div class="lt_secondC">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lt_footer">
      <ul>
        <li>
          <a href="./index.html">
            <span class="fa fa-home"></span>
            <p>首页</p>
          </a>
        </li>
        <li class="active">
          <a href="javascript:;">
            <span class="fa fa-bars"></span>
            <p>分类</p>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <span class="fa fa-shopping-cart">
            </span>
            <p>购物车</p>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <span class="fa fa-user"></span>
            <p>会员中心</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 一级分类结构模板 -->
  <script type="text/template" id="firstCategoryTemp">
    
  </script>
  <!-- 二级分类结构模板 -->
  <script type="text/template" id="secondCategoryTemp">
    <% if(rows.length ==0){ %>
      <p>没有任何分类数据</p>
    <% } else {%>
      <% for( var = i ; i<rows.length;i++){ %>
        <a herf="javascript:;" data-id="<%=rows[i].id%>">
          <img src="<%=rows[i].brandLogo%>" alt="">\
          <p><%=row[i].brandName%></p>
        </a>
      <% } %}
    <% } %>
  </script>
  <script src="../assets/mui/js/mui.js"></script>
  <script src="../assets/artTemplate/template-native.js"></script>
  <script src="../assets/zepto/zepto.min.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/category.js"></script>
</body>
</html>